@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2235a6;
}
.tela_login{
    width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
    gap: 1rem;
    border-radius: 6px;
}
.tela_login h1{
    color: #292524;
    font-size: 20pt;
    margin-bottom: 4rem;
}
.tela_login p{
    width: 80%;
    color: #57534E;
    font-size: 14px;
    margin-bottom: 0.3rem;
    text-align: start;
}
.tela_login input{
    width: 80%;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #D6D3D1;
    color: #292524;
    font-size: 16px;
}
.tela_login div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tela_login div:nth-of-type(4){
    align-items: end;
}
#validar_login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}
#validar_login p{
    margin-top: 3px;
    color: #DC2626;
    font-size: 14px;
}
#Entrar{
    padding: 0.5rem 3rem;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #E43A12;
    color: white;
    font-weight: 500;
    margin-right: 2rem;
    margin-top: 3rem;
}
.imagem_rodape{
    margin-top: 2rem;
}
@media (max-width: 600px){
    body{
        justify-content: start;
        background-color: #fff;
    }
    .tela_login{
        width: 100%;
    }
    .tela_login h1{
        font-size: 15pt;
    }
    .tela_login div:nth-of-type(3){
        align-items: center;
    }
    #Entrar{
        width: 80%;
        margin-right: 0;
    }
}